## MNS Fetching

In [26]:
import pandas as pd
import re
import numpy as np

def fetch_mns_ids(string):
    mns_ids = re.findall(r'MNS\D*\s*\w+', string)
    standard_mns_ids=[]
    for mns_id in mns_ids:
        mns_id = re.sub(r'MNS\s*', 'MNS', mns_id)
        
        numeric_match = re.search(r'MNS\D*(\d+)', mns_id)
        if numeric_match:
            digits = numeric_match.group(1)
            # Ensure the number of digits is 7
            digits = digits.zfill(7)
            # Reconstruct the MNS ID with padded zeros
            mns_id = 'MNS' + digits
            standard_mns_ids.append(mns_id)
        else:
            standard_mns_ids.append('')
    
    return standard_mns_ids



def get_mns(df):
    df.fillna('nan',inplace=True)
# Loop through each column
    for column in df.columns:
        # Check if 'MNS' is present anywhere in the column
        if df[column].astype(str).str.contains('MNS').any():
            # Apply the function to extract MNS IDs
            mns_ids = df[column].apply(fetch_mns_ids)

    df['MNS IDs']=mns_ids
    max_mns_ids_count = max(len(ids) for ids in mns_ids)
    padded_mns_ids = [ids + [np.NaN] * (max_mns_ids_count - len(ids)) for ids in mns_ids]
    for i in range(max_mns_ids_count):
        df[f'MNS ID{i+1}'] = [ids[i] if ids and len(ids) > i else None for ids in padded_mns_ids]
    

    df.drop(columns='MNS IDs',inplace=True)

    return df

In [90]:
df=pd.read_excel(r"C:\Users\Subhadeep\Downloads\mnslatest.xlsx")
df=df.T
df=df.reset_index()
df.columns=df.iloc[0]
df=df.iloc[1:]
df['Group Name:']=df['Group Name:'].fillna(df['Group Name:'].iloc[0])
df['Group Number(or TBD)']=df['Group Number(or TBD)'].fillna(df['Group Number(or TBD)'].iloc[0])
df=df.dropna(how='all',axis=1)
df

,Group Name:,Group Number(or TBD),Request Date:,Effective Date or NSB:,Benefit Status,General Information,CSP,Base (Similar standard plan) Tracking ID,No of Employees Enrolled:,"Group State (NY,NJ,CT)",...,ER Cost Share,Hospital Cost Share,IN Deductible,IN Coinsurance %,IN Coinsurance Limit,IN Out of Pocket Maximum,OON Deductible,OON Coinsurance %,OON Coinsurance Limit,OON Out of Pocket Maximum
1,ABCDEF Inc,554658,2020-04-02 00:00:00,2020-01-03 00:00:00,Benefits Currently in Place,Current Plan 1: P0145445 BUY UP,Freedom HMO 2323,NaN,23,NJ,...,150,IP: 0 after deductible OP: 0 after deductible,2500/5000,100,3000/6000,3000/6001,2500/5002,92,32000/50002,32000/50002
2,Unnamed: 2,554658,NaN,NaN,NaN,Current Plan 2: P0145445 BUY UP,Freedom HMO 2324,NaN,25,NJ,...,160,IP: 0 after deductible OP: 0 after deductible,2500/5000,90,32000/50000,32000/50000,2500/5003,93,32000/50003,32000/50003
3,Unnamed: 3,554658,NaN,NaN,NaN,Current Plan 3: P0145445 BUY UP,Freedom HMO 2325,NaN,45,NJ,...,NaN,IP: 0 after deductible OP: 0 after deductible,2500/5001,91,32000/50001,32000/50001,2500/5004,94,32000/50004,32000/50004
4,Unnamed: 4,554658,NaN,NaN,Requested Benefits,Current Plan 1: P0145445 BUY UP,Freedom HMO 2326,KACTOHP58- MNS25/MNS45,36,NJ,...,NaN,IP: 0 after deductible OP: 0 after deductible,2500/5002,92,32000/50002,32000/50002,2500/5002,92,32000/50002,32000/50002
5,Unnamed: 5,554658,NaN,NaN,NaN,Current Plan 2: P0145445 BUY UP,Freedom HMO 2327,KACTOHP58- MNS000026/MNS45,26,NJ,...,NaN,IP: 0 after deductible OP: 0 after deductible,2500/5003,93,32000/50003,32000/50003,2500/5003,93,32000/50003,32000/50003
6,Unnamed: 6,554658,NaN,NaN,NaN,Current Plan 3: P0145445 BUY UP,Freedom HMO 2328,KACTOHP58- MNS000027,15,NJ,...,NaN,IP: 0 after deductible OP: 0 after deductible,2500/5004,94,32000/50004,32000/50004,2500/5004,94,32000/50004,32000/50004

In [91]:
df_with_mns = get_mns(df)

In [92]:
df_with_mns

,Group Name:,Group Number(or TBD),Request Date:,Effective Date or NSB:,Benefit Status,General Information,CSP,Base (Similar standard plan) Tracking ID,No of Employees Enrolled:,"Group State (NY,NJ,CT)",...,IN Deductible,IN Coinsurance %,IN Coinsurance Limit,IN Out of Pocket Maximum,OON Deductible,OON Coinsurance %,OON Coinsurance Limit,OON Out of Pocket Maximum,MNS ID1,MNS ID2
1,ABCDEF Inc,554658,2020-04-02 00:00:00,2020-01-03 00:00:00,Benefits Currently in Place,Current Plan 1: P0145445 BUY UP,Freedom HMO 2323,nan,23,NJ,...,2500/5000,100,3000/6000,3000/6001,2500/5002,92,32000/50002,32000/50002,NaN,NaN
2,Unnamed: 2,554658,nan,nan,nan,Current Plan 2: P0145445 BUY UP,Freedom HMO 2324,nan,25,NJ,...,2500/5000,90,32000/50000,32000/50000,2500/5003,93,32000/50003,32000/50003,NaN,NaN
3,Unnamed: 3,554658,nan,nan,nan,Current Plan 3: P0145445 BUY UP,Freedom HMO 2325,nan,45,NJ,...,2500/5001,91,32000/50001,32000/50001,2500/5004,94,32000/50004,32000/50004,NaN,NaN
4,Unnamed: 4,554658,nan,nan,Requested Benefits,Current Plan 1: P0145445 BUY UP,Freedom HMO 2326,KACTOHP58- MNS25/MNS45,36,NJ,...,2500/5002,92,32000/50002,32000/50002,2500/5002,92,32000/50002,32000/50002,MNS0000025,MNS0000045
5,Unnamed: 5,554658,nan,nan,nan,Current Plan 2: P0145445 BUY UP,Freedom HMO 2327,KACTOHP58- MNS000026/MNS45,26,NJ,...,2500/5003,93,32000/50003,32000/50003,2500/5003,93,32000/50003,32000/50003,MNS0000026,MNS0000045
6,Unnamed: 6,554658,nan,nan,nan,Current Plan 3: P0145445 BUY UP,Freedom HMO 2328,KACTOHP58- MNS000027,15,NJ,...,2500/5004,94,32000/50004,32000/50004,2500/5004,94,32000/50004,32000/50004,MNS0000027,NaN

## Tracking ID

In [93]:
import re

def fetch_tracking_ids(string):
    kact_ids = re.findall(r'\bKACT\w+', string)
    ox_ids = re.findall(r'Ox_.+', string)

    standard_ids = []

    for kact_id in kact_ids:
        standard_ids.append(kact_id)
    for ox_id in ox_ids:
        standard_ids.append(ox_id)

    return standard_ids

# Example usage:
text = "wdwdw Ox_NYLG_Acecessse87/78 wwddw"
print(fetch_tracking_ids(text))

['Ox_NYLG_Acecessse87/78 wwddw']

In [94]:
fetch_tracking_ids('wwe KACTOHP5d8-wewe')

['KACTOHP5d8']

In [95]:
def get_tracking_ids(df):
    df.fillna('nan', inplace=True)
    # Loop through each column
    for column in df.columns:
        # Check if 'KACT' or 'Ox_' is present anywhere in the column
        if df[column].astype(str).str.contains('KACT|Ox_').any():
            # Apply the function to extract tracking IDs
            tracking_ids = df[column].apply(fetch_tracking_ids)
            max_tracking_ids_count = max(len(ids) for ids in tracking_ids)
            padded_tracking_ids = [ids + [np.NaN] * (max_tracking_ids_count - len(ids)) for ids in tracking_ids]
            for i in range(max_tracking_ids_count):
                df[f'Tracking ID{i+1}'] = [ids[i] if ids and len(ids) > i else None for ids in padded_tracking_ids]

    return df

In [96]:
get_tracking_id(df)

,Group Name:,Group Number(or TBD),Request Date:,Effective Date or NSB:,Benefit Status,General Information,CSP,Base (Similar standard plan) Tracking ID,No of Employees Enrolled:,"Group State (NY,NJ,CT)",...,IN Coinsurance %,IN Coinsurance Limit,IN Out of Pocket Maximum,OON Deductible,OON Coinsurance %,OON Coinsurance Limit,OON Out of Pocket Maximum,MNS ID1,MNS ID2,Tracking ID
1,ABCDEF Inc,554658,2020-04-02 00:00:00,2020-01-03 00:00:00,Benefits Currently in Place,Current Plan 1: P0145445 BUY UP,Freedom HMO 2323,nan,23,NJ,...,100,3000/6000,3000/6001,2500/5002,92,32000/50002,32000/50002,nan,nan,[]
2,Unnamed: 2,554658,nan,nan,nan,Current Plan 2: P0145445 BUY UP,Freedom HMO 2324,nan,25,NJ,...,90,32000/50000,32000/50000,2500/5003,93,32000/50003,32000/50003,nan,nan,[]
3,Unnamed: 3,554658,nan,nan,nan,Current Plan 3: P0145445 BUY UP,Freedom HMO 2325,nan,45,NJ,...,91,32000/50001,32000/50001,2500/5004,94,32000/50004,32000/50004,nan,nan,[]
4,Unnamed: 4,554658,nan,nan,Requested Benefits,Current Plan 1: P0145445 BUY UP,Freedom HMO 2326,KACTOHP58- MNS25/MNS45,36,NJ,...,92,32000/50002,32000/50002,2500/5002,92,32000/50002,32000/50002,MNS0000025,MNS0000045,[KACTOHP58]
5,Unnamed: 5,554658,nan,nan,nan,Current Plan 2: P0145445 BUY UP,Freedom HMO 2327,KACTOHP58- MNS000026/MNS45,26,NJ,...,93,32000/50003,32000/50003,2500/5003,93,32000/50003,32000/50003,MNS0000026,MNS0000045,[KACTOHP58]
6,Unnamed: 6,554658,nan,nan,nan,Current Plan 3: P0145445 BUY UP,Freedom HMO 2328,KACTOHP58- MNS000027,15,NJ,...,94,32000/50004,32000/50004,2500/5004,94,32000/50004,32000/50004,MNS0000027,nan,[KACTOHP58]

In [99]:
def fetch_tracking_ids(string):
    if isinstance(string, str):
        kact_ids = re.findall(r'\bKACT\w+', string)
        ox_ids = re.findall(r'Ox_.+', string)

        standard_ids = []

        for kact_id in kact_ids:
            standard_ids.append(kact_id)
        for ox_id in ox_ids:
            standard_ids.append(ox_id)

        return standard_ids
    else:
        return []

def get_tracking_ids(df):
    df.fillna('nan', inplace=True)
    # Loop through each column
    for column in df.columns:
        # Check if 'KACT' or 'Ox_' is present anywhere in the column
        if df[column].astype(str).str.contains('KACT|Ox_').any():
            # Apply the function to extract tracking IDs
            tracking_ids = df[column].apply(fetch_tracking_ids)
            max_tracking_ids_count = max(len(ids) for ids in tracking_ids)
            padded_tracking_ids = [ids + [np.NaN] * (max_tracking_ids_count - len(ids)) for ids in tracking_ids]
            for i in range(max_tracking_ids_count):
                df[f'Tracking ID'] = [ids[i] if ids and len(ids) > i else None for ids in padded_tracking_ids]

    return df

In [100]:
 get_tracking_ids(df)

,Group Name:,Group Number(or TBD),Request Date:,Effective Date or NSB:,Benefit Status,General Information,CSP,Base (Similar standard plan) Tracking ID,No of Employees Enrolled:,"Group State (NY,NJ,CT)",...,IN Coinsurance %,IN Coinsurance Limit,IN Out of Pocket Maximum,OON Deductible,OON Coinsurance %,OON Coinsurance Limit,OON Out of Pocket Maximum,MNS ID1,MNS ID2,Tracking ID
1,ABCDEF Inc,554658,2020-04-02 00:00:00,2020-01-03 00:00:00,Benefits Currently in Place,Current Plan 1: P0145445 BUY UP,Freedom HMO 2323,nan,23,NJ,...,100,3000/6000,3000/6001,2500/5002,92,32000/50002,32000/50002,nan,nan,NaN
2,Unnamed: 2,554658,nan,nan,nan,Current Plan 2: P0145445 BUY UP,Freedom HMO 2324,nan,25,NJ,...,90,32000/50000,32000/50000,2500/5003,93,32000/50003,32000/50003,nan,nan,NaN
3,Unnamed: 3,554658,nan,nan,nan,Current Plan 3: P0145445 BUY UP,Freedom HMO 2325,nan,45,NJ,...,91,32000/50001,32000/50001,2500/5004,94,32000/50004,32000/50004,nan,nan,NaN
4,Unnamed: 4,554658,nan,nan,Requested Benefits,Current Plan 1: P0145445 BUY UP,Freedom HMO 2326,KACTOHP58- MNS25/MNS45,36,NJ,...,92,32000/50002,32000/50002,2500/5002,92,32000/50002,32000/50002,MNS0000025,MNS0000045,KACTOHP58
5,Unnamed: 5,554658,nan,nan,nan,Current Plan 2: P0145445 BUY UP,Freedom HMO 2327,KACTOHP58- MNS000026/MNS45,26,NJ,...,93,32000/50003,32000/50003,2500/5003,93,32000/50003,32000/50003,MNS0000026,MNS0000045,KACTOHP58
6,Unnamed: 6,554658,nan,nan,nan,Current Plan 3: P0145445 BUY UP,Freedom HMO 2328,KACTOHP58- MNS000027,15,NJ,...,94,32000/50004,32000/50004,2500/5004,94,32000/50004,32000/50004,MNS0000027,nan,KACTOHP58